<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.VideoDao">
	<resultMap type="VideoDto" id="VideoDtoMap">
		<result column="video_seq" property="videoSeq"/>
		<result column="video_id" property="videoId"/>
		<result column="video_title" property="videoTitle"/>
		<result column="video_channel_name" property="videoChannelName"/>
		<result column="video_duration" property="videoDuration"/>
		<result column="video_view_cnt" property="videoViewCnt"/>
		<result column="video_cal" property="videoCal"/>
		<result column="created_at" property="videoCreatedAt"/>
		<result column="updated_at" property="videoUpdatedAt"/>
		<result column="video_comment_cnt" property="videoCommentCnt"/>
		<result column="video_wish_cnt" property="videoWishCnt"/>
	</resultMap>
	
	<!-- public Page<VideoDto> selectVideos(SearchCondition sc); -->
	<select id="selectVideos" resultMap="VideoDtoMap" parameterType="SeachCondition">
		<!-- 이거 뷰카운트랑 위시카운트 조인해서 가져오기로 추가 -->
		select video_seq, video_id, video_title, video_channel_name, video_duration, video_view_cnt, video_cal, created_at, updated_at
			, (select count(*) from wish w where w.video_seq = v.video_seq and w.is_valid = 1) as video_wish_cnt
			, (select count(*) from comment c where c.video_seq = v.video_seq and c.is_valid = 1) as video_comment_cnt
		from video v
		where v.is_valid = 1
		<if test="key != 'none'">
			and ${key} like concat('%', #{word}, '%')
		</if>
		<if test="sort != 'none'">
			ORDER BY ${sortDir} 
		</if>
	</select>
	
	<!-- public VideoDto selectVideo(int videoSeq); -->
	<select id="selectVideo" resultMap="VideoDtoMap" parameterType="int">
		select video_seq, video_id, video_title, video_channel_name, video_duration, video_view_cnt, video_cal, created_at, updated_at
			, (select count(*) from wish w where w.video_seq = v.video_seq and w.is_valid = 1) as video_wish_cnt
			, (select count(*) from comment c where c.video_seq = v.video_seq and c.is_valid = 1) as video_comment_cnt
		FROM VIDEO v 
		WHERE video_seq = #{videoSeq} AND is_valid = 1
	</select>
	
	
	<!-- public int insertVideo(VideoDto videoDto); -->
	<insert id="insertVideo" parameterType="videoDto">
		INSERT INTO VIDEO (video_seq, video_id, video_title, video_channel_name, video_duration, video_cal) 
		values (0, #{videoId}, #{videoTitle}, #{videoChannelName}, #{videoDuration}, #{videoCal})
	</insert>
	
	<!-- public int updateViewCntOne(int videoSeq); -->
	<update id="updateViewCntOne" parameterType="int">
		UPDATE VIDEO
		SET video_view_cnt = video_view_cnt + 1
		WHERE video_seq = #{videoSeq}
	</update>
	
	<!-- public int selectUserWish(Map<String, Integer> map); -->
	<select id="selectUserWish" parameterType="map">
		SELECT COUNT(*)
		FROM WISH
		WHERE video_seq = #{videoSeq} AND user_seq = #{userSeq} AND is_valid = 1
	</select>
	
	<!-- public int insertUserWish(Map<String, Integer> map);  -->
	<insert id="insertUserWish" parameterType="map">
		INSERT INTO WISH (video_seq, user_seq)
		VALUES (#{videoSeq}, #{userSeq})
	</insert>
	
	<!-- public int deleteUserWish(Map<String, Integer> map); -->
	<update id="deleteUserWish">
		UPDATE WISH
		SET is_valid = false
		WHERE video_seq = #{videoSeq} AND user_seq = #{userSeq}
	</update>
	

</mapper>